name: Build Main
on:
  push:
    branches:
      - main
      - v2.5.x
  pull_request:
    branches:
      - main
      - v2.5.x
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        java:
          - '8'
          - '11'
          - '17'
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Build
        run: |
          ./gradlew -S -Pskip.signing assemble
          unset GEM_PATH GEM_HOME JRUBY_OPTS
          ./gradlew -S -Pskip.signing check
  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        java:
          - '11'
          - '17'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Assemble
        shell: cmd
        run: |
          gradlew.bat -i assemble
      - name: Check
        shell: cmd
        run: |
          gradlew.bat -i -S check
  test-asciidoctor-upstream:
    name: Test Asciidoctor Upstream
    needs: 
      - build
      - build-windows
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        java:
          - '11'
          - '17'
        os:
          - ubuntu-latest
        maven:
          - '3.9.1'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup Java
        uses: s4u/setup-maven-action@v1.7.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          maven-version: ${{ matrix.maven }}
      - name: Upstream Build
        run: |
          unset GEM_PATH GEM_HOME JRUBY_OPTS
          ./ci/test-asciidoctor-upstream.sh
      - name: Upload reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: asciidoctorj-core-reports
          path: asciidoctorj-core/build/reports/*
