name: Build Upstream
on: repository_dispatch

jobs:
  build-upstream:
    name: ${{ github.event.client_payload.message }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build
        run: |
          unset GEM_PATH GEM_HOME JRUBY_OPTS
          ./ci/test-asciidoctor-upstream.sh ${{ github.event.client_payload.branch }}
